<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Start
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Rozpocznij</ion-card-subtitle>
      <ion-card-title>Witamy w aplikacji!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Aplikacja została stworzona aby ułatwić Twoje zakupy! Możesz rozpocząć dodając nowe listy zakupów oraz produkty.
        Każdą listę możesz zapisać i pobrać w formacje PDF.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-item routerLink="/shopping-lists">
      <ion-icon slot="start" color="medium" name="basket"></ion-icon>
      <ion-label>Dodaj listę zakupów</ion-label>
    </ion-item>
    <ion-item routerLink="/pdf">
      <ion-icon slot="start" color="medium" name="document"></ion-icon>
      <ion-label>Wygeneruj PDF</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
