<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{singleList.name}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="navigateToEditList()">
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <section class="center2">
        <ion-button size="small" color="secondary" class="center" (click)="handleAddOption()">
            <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button size="small" color="secondary" class="center" (click)="handleSearchOption()">
            <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button size="small" color="secondary" class="center" (click)="handleFilterOption()">
            <ion-icon name="funnel"></ion-icon>
        </ion-button>
        <ion-button size="small" color="secondary" class="center" (click)="handleSortOptions()">
            <ion-icon name="swap"></ion-icon>
        </ion-button>
        <ion-button size="small" color="secondary" class="center" (click)="handleGenerate()">
            <ion-icon name="cloud-download"></ion-icon>
        </ion-button>
    </section>
    <div *ngIf="options.add">
        <ion-item *ngIf="!singleList.completed; else elseBlock">
            <ion-input type="text" [(ngModel)]="itemToAdd" placeholder="Dodaj nowy element"></ion-input>
            <div item-end>
                <ion-button (click)="addNewItem()">
                    Dodaj
                </ion-button>
            </div>
        </ion-item>
    </div>
    <ng-template #elseBlock>Lista zakończona</ng-template>

    <ion-searchbar *ngIf="options.search"
                   (ionChange)="onSearchTerm($event)">
    </ion-searchbar>

    <ion-select placeholder="Sortuj" [(ngModel)]="selectedSort" (ionChange)="sort()" *ngIf="options.sort">
        <ion-select-option value="def">Domyślnie</ion-select-option>
        <ion-select-option value="high">Rosnąco</ion-select-option>
        <ion-select-option value="low">Malejąco</ion-select-option>
        <ion-select-option value="rand">Losowo</ion-select-option>
    </ion-select>

    <ion-select placeholder="Filtruj" [(ngModel)]="selectedFilter" (ionChange)="filter()" *ngIf="options.filter">
        <ion-select-option value="all">Wszystkie</ion-select-option>
        <ion-select-option value="completed">Zakończone</ion-select-option>
        <ion-select-option value="inprogress">Niezakończone</ion-select-option>
    </ion-select>

    <ion-list>
        <ion-list-header>Twoje zakupy {{finishedItemsCount}}/{{items.length}}
        </ion-list-header>
        <ion-item *ngFor="let item of items; let i = index">
            <ion-checkbox slot="start" [(ngModel)]="item.isChecked" (ionChange)="handleChecked(item)"></ion-checkbox>
            <div>{{item.name}}</div>
            <div class="delete-button" slot="end">
                <ion-button color="danger" (click)="removeItem(i)">X</ion-button>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="full" color="light" *ngIf="options.generate" (click)="generateFakeData()">Generuj dane
    </ion-button>

</ion-content>
